<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <head>
        <title>Play quiz</title>
        <meta charset="UTF-8"/>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <link rel="stylesheet" type="text/css" href="/css/myStyleSheet.css"/>
    </head>
    <body>
        <h3 th:text="${question.question}"></h3>

        <div th:each="option : ${question.options}">
            <form th:action="@{/play/{id}/waiting(id=${id})}" method="POST">
                <input hidden="" type="text" name="remainingTime" id="remainingTime" th:value="${time}"/>
                <input hidden="" type="text" name="points" th:value="${option.points}" />
                <span th:text="${option.answer}" ></span>
                <input type="submit" value="Answer" />
            </form>
        </div>

        <p> Remaining answering time <span id="counter" th:text="${time}">5</span></p>

        <a hidden="" id="next" th:href="@{/play/{id}/playQuestion(id=${id})}" ></a>

        <script th:src="@{/javascript/playscript.js}" />
        <!--        <script src="../public/javascript/playscript.js" />-->
    </body>
</html>
