<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <head>
        <title th:text="${quiz.name}" ></title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" type="text/css" href="/css/myStyleSheet.css"/>
    </head>
    <body>
        <h1>Quiz: <span th:text="${quiz.name}"></span> </h1>
        <div>
            <ol>
                <li th:each="question : ${questions}" >
                    <a th:href="@{/{id}/question/{questionId}(id=${quiz.id}, questionId=${question.id})}" th:text="${question.question}">link to question</a>
                </li>
            </ol>
        </div>

        <div>
            <a th:href="@{/{id}/question(id=${quiz.id})}"> Create new Question</a>            
            <br/>
            <p>Add existing question</p>
            <form th:action="@{/quiz/{id}(id=${quiz.id})}" method="POST">
                <select name="questionId">
                    <option th:each="question : ${allQuestions}" th:value="${question.id}" th:text="${question.question}"></option>
                </select>
                <input type="submit" value="add"/>
            </form>
                
        </div>    

        <a th:href="@{/quizzes}" >back</a>

    </body>
</html>
