<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <head>
        <title>Quizzes</title>
        <meta charset="UTF-8"></meta>
        <!-- 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        -->
        <link rel="stylesheet" type="text/css" href="/css/myStyleSheet.css"/>
    </head>
    <body>
        <h1>Your quizzes</h1>

        <div>

            <table th:each="quiz : ${quizzes}" >
                <tr>
                    <td> <a th:href="@{/quiz/{id}(id=${quiz.id})}" th:text="${quiz.name}" >link to single quiz</a> </td>
                    <td><a th:href="@{/play/{id}/start(id=${quiz.id})}">play</a></td>
                </tr>
            </table>    
        </div>

        <h2>Add new quiz</h2>

        <div>
            <form action="#" th:action="@{/quizzes}" th:object="${quiz}" method="POST">
                <table>
                    <tr>
                        <td><input type="text" name="name"/> </td>
                        <!--<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Virheviesti</td>-->
                    </tr>
                    <tr>
                        <td><input type="submit" value="add"/></td>
                    </tr>
                </table>
            </form>
        </div>

        <br/>
        <a th:href="@{/logout}" >logout</a>
        
    </body>
</html>
