<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <head>
        <title>Play quiz</title>
        <meta charset="UTF-8"/>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    </head>
    <body>
        <h3>waiting...</h3>

        <p> Remaining answering time <span id="counter" th:text="${time}">5</span></p>

        <a hidden="" id="next" th:href="@{/play/{id}/points(id=${id})}" ></a>

        <script th:src="@{/javascript/playscript.js}" />
        <!--        <script src="../public/javascript/playscript.js" />-->
    </body>
</html>
